extends layout

block content
  div.game-content
    div.slots
      div.text-board
        div.winType Click Green Button to Play
        div#bonusType Bonus Area
      div.machine
        div#a
        div#b
        div#c
      div.navigation
        button.play-button